<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../../static/css/me.css" rel="stylesheet">
    <title>博客管理登录</title>
</head>
<style>
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

</style>
<body>
<div class="m-container-small m-padded-tb-massive out-container" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        管理后台登录
                    </div>
                </h2>
                <form class="ui large form" action="#" th:action="@{/admin/login}" method="post">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <input class="codeKey" style="display: none" name="codeKey" value=""/>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="text" class="verifyCodeInput" name="codeStr" placeholder="验证码">
                            </div>
                        </div>

                        <img class="verifyCode" src=""/>
                        <button class="ui fluid large teal submit button">登 录</button>
                    </div>

                    <div class="ui error message mini"></div>
                    <div class="ui message negative mini" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        用户名和密码错误
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--/*/<th:block th:replace="_fragments :: script"> /*/-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    let codeKey = '';
    function getVerifyCodeURL() {
        for (let i = 0; i < 5; i++)
            codeKey += Math.floor(Math.random() * 10) + "";
        console.log(codeKey)
        return `http://localhost:9090/admin/getCode?codeKey=${codeKey}`
    }
    window.onload = () => {
        $('.verifyCode').attr("src", getVerifyCodeURL())
        $('.codeKey').attr('value', codeKey)

    }
    $('.verifyCode').bind('click', (e) => {
        $('.verifyCode').attr("src", getVerifyCodeURL())
    })
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });
</script>
</body>
</html>